.card {
  margin: 0;
  position: relative;
}

.card__image {
  width: 413px;
  height: 413px;
  border-radius: 8px;
  overflow: hidden;
  object-fit: cover;
  display: block;
  z-index: 0;
}

.card__trash-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url(../images/icon_trash.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  opacity: 30%;
  z-index: 1;
  cursor: url(../images/cursor-hand.svg), pointer;
}

.card__trash-button:hover {
  background-image: url(../images/icon_trash_hover.svg);
  opacity: 100%;
}

.card__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 12px 0 0;
  padding: 0;
  width: 413px;
}

.card__text {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  max-width: 353px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__heart-button {
  background-image: url(../images/icon_heart.svg);
  background-repeat: no-repeat;
  width: 23px;
  height: 20px;
  background-color: transparent;
  padding: 0;
  border: none;
  opacity: 40%;
  align-self: center;
  cursor: url(../images/2-photo-by-ceiline-from-pexels.jpg), pointer;
}

.card__heart-button:hover {
  opacity: 100%;
}

.card__heart-button_liked {
  background-image: url(../images/icon_heart_liked.svg);
  opacity: 100%;
}

.card__heart-button_liked:hover {
  opacity: 50%;
}

@media screen and (max-width: 627px) {
  .card {
    margin: 0 auto;
  }

  .card__image {
    height: 288px;
    width: 288px;
  }

  .card__info {
    max-width: 288px;
  }

  .card__text {
    max-width: 250px;
    font-size: 16px;
  }
}
