.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

.profile__avatar-container {
  position: relative;
  cursor: url(../images/cursor-hand.svg), pointer;
  padding: 0;
  margin-right: 20px;
  height: 190px;
}

.profile__avatar-btn {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  cursor: url(../images/cursor-hand.svg), pointer;
  visibility: hidden;
  padding: 0;
}

.profile__avatar-container:hover .profile__avatar-btn {
  visibility: visible;
  background-color: rgba(33, 33, 33, 0.4);
}

.profile__avatar-pen {
  position: absolute;
  bottom: 12px;
  left: 39px;
  opacity: 1;
}

.profile__avatar-btn::after {
  content: "Edit Avatar";
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  position: absolute;
  bottom: 12px;
  right: 39px;
  opacity: 1;
}

.profile__avatar {
  object-fit: cover;
  height: 190px;
  width: 190px;
  margin: 0;
  border-radius: 8px;
}

.profile__info {
  display: flex;
  flex-direction: column;
  max-width: 420px;
}

.profile__name {
  margin: 0;
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 32px;
  line-height: 1;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__description {
  margin: 12px 0 0;
  color: rgba(33, 33, 33, 0.7);
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__edit-button {
  border: none;
  color: #212121;
  opacity: 0.7;
  background-color: #fcf5e5;
  margin-top: 110px;
  padding: 0;
  text-align: left;
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  cursor: url(../images/cursor-hand.svg), pointer;
}

.profile__edit-button:hover {
  opacity: 1;
}

.profile__edit-icon {
  width: 16px;
  height: 16px;
  margin-right: 3px;
}

.profile__post-icon {
  width: 12px;
  height: 12px;
  margin-right: 2px;
}

.profile__post-button {
  align-self: flex-end;
  margin-left: auto;
  background-color: #212121;
  width: 149px;
  height: 52px;
  color: #fcf5e5;
  border-radius: 8px;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  cursor: url(../images/cursor-hand.svg), pointer;
}

.profile__post-button:hover {
  background-color: rgba(33, 33, 33, 0.8);
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 282px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar-container {
    width: 80px;
    height: 80px;
  }

  .profile__avatar-btn {
    visibility: visible;
  }

  .profile__avatar-btn::after {
    content: "";
  }

  .profile__avatar-pen {
    top: 52px;
    left: 52px;
    height: 24px;
    width: 24px;
    opacity: 60%;
    background-color: rgba(33, 33, 33, 0.6);
    border-radius: 6px;
  }

  .profile__avatar {
    margin: 0;
    width: 80px;
    height: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin: 12px 0 0;
  }

  .profile__description {
    font-size: 16px;
    margin: 6px 0 0;
  }

  .profile__edit-button {
    text-align: center;
    margin: 32px 0 0;
  }

  .profile__post-button {
    margin: 20px 0 0;
    align-self: center;
    width: 100%;
  }
}
